{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>OsaNon</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/custom-css.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">OsaNon</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav nav-pills pull-right">
            <li role="presentation">
              <form class="navbar-form navbar-right" action="/results/address" method="POST">
                {% csrf_token %}
                <div class="input-group" style="display:table;">
                  <span class="input-group-btn">
                    <a class="btn btn-success" onclick="getLocation()"><i class="fa fa-location-arrow"></i></a>
                  </span>
                  <input type="text" placeholder="{% trans "Tu dirección, p.ej.: Gran Via Bilbao" %}" class="form-control" name="address" required style="display:table-cell;">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-success">{% trans "Buscar" %}</button>
                  </span>
                </div>
              </form>
            </li>
            <li class="presentation">
              <form class="navbar-form navbar-right" name="setLang" action="{% url 'set_language' %}" method="POST">{% csrf_token %}
                  <select name="language" onchange="document.setLang.submit();return false;" class="form-control">
                      <option {% if LANGUAGE_CODE == "eu" %}selected{% endif %} value="eu">Euskera</option>
                      <option {% if LANGUAGE_CODE == "es" %}selected{% endif %} value="es">Español</option>
                  </select>
                  <input name="next" type="hidden" value="/" />
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style="padding-top:80px;">
        <div class="container">
          <h1>{% trans "Bienvenido a Osanon" %}</h1>
          <p>{% blocktrans %}Osanon te permite buscar el centro de salud, hospital o farmacia más ceranos. Para ello, solamente tienes que buscar una dirección y pulsar <button class="btn btn-success">Buscar</button> o pulsar el botón <a class="btn btn-success" onclick="getLocation()"><i class="fa fa-location-arrow"></i></a> para obtener tu ubicación:{% endblocktrans %}</p>
          <p>
            <form class="form" action="/results/address" method="POST">
              {% csrf_token %}
              <div class="input-group" style="display:table;">
                <span class="input-group-btn">
                  <a class="btn btn-success" onclick="getLocation()"><i class="fa fa-location-arrow"></i></a>
                </span>
                <input type="text" placeholder="{% trans "Tu dirección, p.ej.: Gran Via Bilbao" %}" class="form-control" name="address" required style="display:table-cell;">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-success">{% trans "Buscar" %}</button>
                </span>
              </div>
            </form>
          </p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>{% trans "Diseño responsivo" %}</h2>
            <p> {% blocktrans %}OsaNon está diseñado siguiendo el paradigma de <a href="https://en.wikipedia.org/wiki/Responsive_web_design">responsive web design</a>, por lo que se adaptará a todos los dispositivos ya sean teléfonos móviles, tablets u ordenadores.{% endblocktrans %} </p>
          </div>
          <div class="col-md-4">
            <h2>Open Data</h2>
            <p>{% blocktrans %}Todos los datos utilizados en OsaNon han sido obtenidos de <a href="opendata.euskadi.eus">Open Data Euskadi</a>.{% endblocktrans %}</p>
         </div>
          <div class="col-md-4">
            <h2>{% trans "Colaborativo" %}</h2>
            <p>{% blocktrans %}Si encuentras algún error, puedes pulsar en el icono <i class="fa fa-flag"></i> para informarnos. Estaremos muy agradecidos de recibir vuestra opinión ;-){% endblocktrans %}</p>
          </div>
        </div>

        <hr>
      {% endblock %}
      <footer style="padding-left: 50px;">
        {% block adsense_footer %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- index-adaptable -->
          <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8496090600652315"
             data-ad-slot="5900940982"
             data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        {% endblock %}
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    <script>

      function success(position) {
        console.log(position);
        window.location.replace("/results/" + position.coords.latitude + "/" + position.coords.longitude);
      }
      function error(msg) {
        console.log(msg);
      }
      function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);
        } else {
            console.log("Geolocation is not supported by this browser.");
            window.alert("Geolocation is not supported by this browser.");
        }
      }
    </script>
    {% block scripts%}
    {% endblock %}

    {% block ga %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-70777791-1', 'auto');
        ga('send', 'pageview');
      </script>
    {% endblock %}
  </body>
</html>
